body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
}
.section{
	margin-bottom: 140px;
	text-align: center;
}

.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.header{
	position: relative;
	min-height: 100vh;
	margin-bottom: 140px;
	background-image: url('../images/header-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 35px;
}

.menu__list{
	display: flex;
}

.menu__item{
	margin: 0 25px;
}

.menu__item-link{
	font-weight: 500;
	color: #fff;
	transition: .5s;
}

.menu__item-link:hover{
	color: #C9453B;
}

.menu__btn{
	display: none;
	position: relative;
	height: 45px;
	width: 45px;
	border: 1px solid #fff;
	border-left: none;
	border-right: none;
	cursor: pointer;
}

.menu__btn span{
	position: absolute;	
	top: 50%;
	display: block;
	background-color: #fff;
	height: 1px;
	width: 100%;
}

.mobile__menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px;
	background-color: #333;
	z-index: 3;
	font-size: 50px;
	transform: translateX(-100%);
	transition: .5s;
}

.mobile__menu .btn{
	display: none;
	margin-top: -5px;
}

.mobile__menu.active{
	transform: translateX(0px);
}

.mobile__menu-list{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.mobile__menu-item{
	margin-bottom: 30px;
}

.menu__close-btn{
	position: absolute;
	height: 45px;
	width: 45px;
	right: 15px;
	top: 42px;
	cursor: pointer;
}

.menu__close-btn:before, .menu__close-btn:after{
	content: '';
	position: absolute;
	width: 61px;
	height: 1px;
	background-color: #fff;
	transform-origin: left;
}

.menu__close-btn:before{
	transform: rotate(45deg);
}

.menu__close-btn:after{
	transform: rotate(-45deg);
	bottom: 1px;
}

.btn{
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	padding: 15px 40px;
	background: #C9453B;
	border-radius: 5px;
}

.header__content{
	margin-top: 240px;
}

.header__title{
	font-family: Gelasio;
	font-weight: 700;
	font-size: 65px;
	line-height: 78px;
	color: #fff;
	letter-spacing: 3px;
}

.header__text{
	max-width: 460px;
	margin-top: 30px;
	margin-bottom: 40px;
	color: #fff;
	opacity: .6;
}

.title{
	margin-bottom: 20px;
	font-family: 'Gelasio', sans-serif;
	font-size: 43px;
	font-weight: 500;
	line-height: 60px;
}

.text{
	max-width: 650px;
	margin: 0 auto 60px;
	opacity: .6;
}

.location__items{
	display: flex;
	justify-content: space-between;
}

.location__item{
	max-width: 360px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: .5s;
}

.location__item:hover{
	box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}

.location__item-img{
	width: 100%;
}

.location__item-content{
	padding: 33px 27px;
}

.location__item-title{
	margin-bottom: 10px;
	font-family: 'Gelasio', sans-serif;
	font-size: 24px;
	line-height: 36px;
}

.location__item-text{
	opacity: .6;
}

.offers__slider{
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

.offers__slider-inner{
	margin-bottom: 50px;
}

.offers__slider .swiper-slide{
	width: auto;
}

.offers__slider-arrow-next, .offers__slider-arrow-prev{
	cursor: pointer;
}

.offers__item{
	color: rgba(0, 0, 0, 0.6);
	text-align: left;
}

.offers__item-img{
	margin-bottom: 20px;
	max-height: 173px;
	max-width: 262px;
	border-radius: 10px;
	object-fit: cover;
}

.offers__item-title{
	font-family: 'Gelacio';
	font-size: 24px;
	line-height: 36px;
	color: #000;
	margin-bottom: 8px;
}

.offers__item-location{
	display: inline-block;
	position: relative;
	padding-left: 22px;
	margin-right: 50px;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 8px;
}

.offers__item-location:before{
	content: url('../images/map-icon.svg');
	position: absolute;
	left: 0;
	top: 0;
}

.offers__item-rate{
	display: inline-block;
	position: relative;
	padding-left: 32px;
	color: #000;
}

.offers__item-rate:before{
	content: url('../images/star-icon.svg');
	position: relative;
	left: 0;
	top: 50%;
	transform:  translateY(-50%);
}

.offers__item-time{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 8px;
}

.offers__item-price{
	font-size: 16px;
	line-height: 24px;
}

.offers__item-price span{
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
	color: #000;
}

.offers__slider-pagination{
	display: inline-block;
	margin: 0 50px;
}

.offers__slider .swiper-pagination-bullet{
	height: 5px;
	width: 75px;
	background:#C9453B;
	border-radius: 10px;
	opacity: .1;
}

.offers__slider .swiper-pagination-bullet + .swiper-pagination-bullet{
	margin-left: 3px;
}

.offers__slider .swiper-pagination-bullet-active{
	opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	width: auto;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
	margin-bottom: 12px;
}

.blog__content{
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.blog__main-item{
	margin-right: 30px;
	display: none;
}

.blog__main-item.active{
	display: block;
}

.blog__main-img{
	width: 550px;
	height: auto;
	margin-bottom: 35px;
	border-radius: 10px;
}

.blog__title{
	font-family: Gelasio;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 10px;
}

.blog__text{
	max-width: 470px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, .6);
}

.blog__author{
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: #000;
}

.blog__item-content{
	margin: auto 0;
}

.blog__item-author{
	font-weight: 400;
}

.blog__item{
	display: flex;
	cursor: pointer;
	margin-bottom: 30px;
}

.blog__item.active{
	display: none;
}

.blog__item-img{
	height: auto;
	width: 50%;
	margin-right: 30px;
	border-radius: 10px;
}

.footer{
	padding: 70px 0;
	background: rgba(38, 148, 153, 0.04);
}

.footer__inner{
	display: flex;
}

.footer__content{
	margin-right: 100px;
}

.footer__logo{
	display: inline-block;
	margin-bottom: 40px;
}

.footer__text, .footer__link{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 10px;
}

.footer__link{
	display: inline-block;
	color: #000;
}

.footer__item + .footer__item{
	margin-left: 20px;
}

.footer__menu{
	margin-right: 125px;
}

.footer__menu-item + .footer__menu-item{
	margin-top: 20px;
}

.footer__menu-link{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #000;
}

.footer__subscribe-title{
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 40px;
}

.footer__subscribe-input{
	min-height: 44px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 5px;
	padding: 10px 20px;
	margin-right: 35px;
	font-size: 16px;
}

.footer__subscribe-input::placeholder{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.footer__subscribe-input::-webkit-input-placeholder{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.footer__subscribe-input:-moz-placeholder{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.footer__subscribe-input::-moz-placeholder{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}            
.footer__subscribe-input:-ms-input-placeholder{
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

.footer__subscribe-btn{
	max-height: 44px;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	padding: 10px 32px;
	background-color: #C9453B;
	border-radius: 5px;
}

@media (max-width: 1170px){
	.location__items{
		flex-direction: column;
		align-items: center
	}
	.location__item{
		margin-bottom: 40px
	}
	.blog__content{
		flex-direction: column;
		align-items: center
	}
	.blog__main-item{
		margin-bottom: 30px;
		margin-right: 0;
	}
	.blog__item{
		max-width: 550px
	}
	.footer__inner{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer__content{
		margin: 25px auto;
	}
	.footer__menu{
		margin: 25px auto;
	}
	.footer__subscribe{
		margin: 25px auto;
	}
	.footer__subscribe-title{
		margin-bottom: 20px
	}
}
@media (max-width: 960px){
	.offers__slider-pagination{
		display: none
	}
	.offers__slider-arrow-prev{
		margin-right: 50px
	}
}
@media (max-width: 850px){
	.menu{
		display: none
	}
	.header__top .btn{
		margin-left: auto;
		margin-right: 40px;
	}
	.menu__btn{
		display: block;
	}
	.header__title{
	    font-size: 55px;
    	line-height: 60px;
	}
}
@media (max-width: 700px){
	.header__title{
		font-size: 40px;
    	line-height: 50px;
	}
	.header__text{
		margin-top: 15px;
		margin-bottom: 20px;
	}
}
@media (max-width: 540px){
	.header__title{
		font-size: 30px;
   	 	line-height: 40px;
	}
	.header__text{
		font-size: 15px
	}
	.title{
		font-size: 35px;
		margin-bottom: 10px
	}
	.text{
		font-size: 15px;
		margin-bottom: 40px
	}
	.blog__main-img{
		width: 100%;
	}
	.blog__item{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.blog__item-img{
		margin-right: 0
	}
	.blog__title{
		font-size: 18px
	}
	.blog__text{
		font-size: 15px;
		line-height: 25px;
	}
	.blog__author{
		font-size: 18px;
		line-height: 25px;
	}
}
@media (max-width: 440px){
	.header__top .btn{
		display: none
	}
	.header__content{
		margin-top: 200px
	}
	.header__title{
		font-size: 23px;
		line-height: 33px;
	}
	.mobile__menu{
		font-size: 40px;
	}
	.mobile__menu .btn{
		display: inline-block;
	}
	.footer__subscribe-input{
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
}
@media (max-width: 360px){
	.header{
		margin-bottom: 100px
	}
	.header__content{
		margin-top: 100px
	}
}